@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.text-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.border-bottom {
    border-bottom: 2px solid #EBEAED;
}

.wv-100 {
    width: 100%;
}

.heading {
    font-family: DM Sans;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: #1E0E62;
}

.p-1 {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    width: 33.33%;
    color: #151439;
}

.p-2 {
    color: #1E0E62;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: 33.33%;
}

.pd-20 {
    padding: 20px;
}

.box {
    width: 270px;
    height: 326px;
    background: #EBEAED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    margin-left: 115px;
}

.p-3 {
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #1E0E62;
    margin-right: 88px;
}

.p-4 {
    font-family: DM Sans;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    width: 199px;
    color: #15143966;
}

.btn {
    width: 130px;
    height: 40px;
    border-radius: 100px;
    background: #25DAC5;
    border: none;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
}